* {
  text-align: center;
  font-family: sans-serif;
}
body {
  background-color: #f3cfb3;
}
img {
  width: 300px;
}
li {
  list-style: none;
}
h1 {
  color: #7c2629;
}
a {
  text-decoration: none;
  font-size: 24px;
}
.pie {
  color: #343579;
}
.coleslaw {
  color: #f8485e;
}
.burger {
  color: #3f2021;
}
.test {
  color: #343579;
}
